<!DOCTYPE html>
<html lang=""ja">
<head>
    <meta charset="UTF-8">
    <title>受験アドバイザー</title>
</head>

<body>

    <h1>受験アドバイザー</h1>

    <form>

        <label>志望学部</label><br>
        <select>
            <option>情報工学</option>
            <option>機械工学</option>
            <option>経済学</option>
        </select><br><br>

        <label>地域</label><br>
        <select>
            <option>関西</option>
            <option>関東</option>
            <option>中部</option>
        </select><br><br>

        <button>診断する</button>

    </form>

</body>
</html>